services:
  web:
    build: .
    container_name: bibliotech-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - db
      - mailpit
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: bibliotech-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bibliotech
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d  
    networks:
      - app-network

  mailpit:
    image: axllent/mailpit:latest
    container_name: bibliotech-mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge